body {
	background-color: #fffdc8; /* night: #314d65 */  /* day: #fffdc8; */
}

/* Story container and text */
#result {
	display: none;
	margin-top: 10px;
	margin-right: 15px;
	margin-left: 15px;

	color: #FFF;
}

#result > div {
	padding: 5px;
	background: rgba(0,0,0,0.6);
	border-radius: 7px;

	text-align: justify;
}

@media only screen and (min-width : 992px) {
	#result {
		width: 60%;
		margin-top: 10rem;
		margin-right: auto;
		margin-left: auto;
	}

	#result > div {
		padding-left: 10px;
		padding-right: 10px;
	}
}

/* Video container */
#video {
	position: fixed;
	top: 50%;
	left: 50%;
	height: auto;
	width: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

#night-video {
	display: none;
}

/* Zipcode form */
#form-container {
	margin-top: 12rem;
	margin-right: auto;
	margin-left: auto;
	z-index: 100;

	text-align: center;
	color: #FFF;
}

#form-container > button {
	width: 200px;
	height: 26px;
	margin-top: 0.75rem;

	background: #fffdc8;
	color: #000;
	border: none;
	border-radius: 7px;
}

#location-form {
	width: 200px;
	height: 26px;
	text-align: center;
	color: black;
}

@media only screen and (min-width : 992px) {
	#form-container {
		width: 40%;
		margin-top: 20rem;
	}
}